* {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-family: "Anton", sans-serif;
}
header {
  background-color: hsl(48, 89%, 50%);
}
.header {
  display: flex;
  padding: 10px 60px;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 577px) {
    display: flex;
    flex-direction: column;
  }
}
p {
  font-size: 15px;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.direc {
  display: flex;
  gap: 50px;
  @media (max-width: 442px) {
    gap: 20px;
  }
}
.direccion {
  list-style: none;
  font-weight: bold;
}
.img {
  width: 100%;
  height: auto;

  @media (max-width: 442px) {
    width: 318px;
  }
}
.img-h {
  width: 100%;
  height: auto;

  @media (max-width: 442px) {
    width: 318px;
  }
}
.button-1 {
  display: flex;
  padding: 15px 55px;
  border: none;
  background-color: hsl(48, 89%, 50%);
  font-weight: 600;
  font-size: 15px;
}
.section-white {
  padding: 85px;
}
.container-rowr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;

  @media (max-width: 770px) {
    display: flex;
    flex-direction: column;
  }
}
.text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}

.section-gray {
  display: flex;
  justify-content: center;
  padding: 85px 285px;

  @media (max-width: 577px) {
    padding: 55px;
  }
}
.container-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #bfb8b8;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 150px;
  width: 1000px;
  height: auto;

  @media (max-width: 577px) {
    display: flex;
    flex-direction: column;
    top: 100px;
  }
}
.numbers-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
.button-card {
  display: flex;
  padding: 15px 5px;
  border: none;
  background-color: transparent;
  font-weight: 600;
  font-size: 15px;
}
.section-yellow {
  padding: 85px;
  background-color: hsl(48, 89%, 50%);
}
.container-row {
  display: flex;
  align-items: center;
  gap: 20px;
  @media (max-width: 680px) {
    display: flex;
    flex-direction: column;
  }
}
.text-box h2 {
  text-transform: uppercase;
  font-size: 40px;
  color: black;
}

.black-btn {
  display: flex;
  padding: 15px 55px;
  border: none;
  background-color: black;
  font-weight: 600;
  font-size: 15px;
  color: white;
}
/*///////////////////////////////////+++++++++++++++++++++++///////////////////////////////////////////////////////*/

.container-tres {
  padding: 85px;
  height: 800px;

  @media (max-width: 442px) {
    padding: 40px;
  }
}
.class-tres {
  display: flex;
  background-color: rgb(179 179 179);
  box-shadow: 9px 10px 12px rgba(0, 0, 0, 0.2);
  align-self: center;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 770px) {
    display: flex;
    flex-direction: column;

    .img-h {
      display: none;
    }
    .imagen-tres {
      display: none;
    }
  }
}

.parrafo-tres {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 31px;
  gap: 25px;
  width: 50%;

  @media (max-width: 442px) {
    align-items: center;
  }
}

.parrafo-tres h1 {
  font-size: 50px;
  color: hsl(48, 89%, 50%);
}
.img-parrafo {
  display: flex;
  position: relative;
}
.img-tres {
  width: 100%;
  height: auto;
}

.container-cuatro {
  background-color: black;
}

.class-cuatro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 85px;
  gap: 20px;
}
h2 {
  font-size: 47px;
  font-weight: bold;
  color: hsl(48, 89%, 50%);
}
.class-cuatro p {
  color: white;
  line-height: 1;
}
.class-quinto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 85px;
  gap: 135px;

  @media (max-width: 680px) {
    display: flex;
    flex-direction: column;
  }
}
.parrafo-quinto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
.parrafo-quinto h2 {
  font-size: 47px;
  font-weight: bold;
  color: black;
}
.parrafo-quinto p {
  margin-bottom: 20px;
}
.conatiner-seis {
  padding: 85px;
  background-color: rgb(228, 225, 225);
}
.class-seis {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;

  @media (max-width: 680px) {
    display: flex;
    flex-direction: column;
  }
}
.parrafo-seis {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
.parrafo-seis h1 {
  font-size: 67px;
  font-weight: bold;
}
.container-datos {
  padding: 80px;
}
.class-datos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;

  @media (max-width: 770px) {
    display: flex;
    flex-direction: column;
  }
}
.datos {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 50px;
  border: 2px solid white;

  @media (max-width: 680px) {
    width: 100%;
  }
}
.name-fields {
  display: flex;
  gap: 10px;
}
label {
  margin: 10px 0 5px;
  color: white;
}
input,
textarea {
  border: 1px solid white;
  background-color: black;
  color: white;
  width: 100%;
  height: auto;
}
textarea {
  margin-bottom: 20px;
  height: 200px;
}
input {
  height: 30px;
}
.footer-text {
  color: white;
  font-size: 15px;
}
.parrafo-datos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  width: 455px;

  @media (max-width: 442px) {
    width: 100%;
  }
}
.txt-amarillo {
  font-size: 47px;
  font-weight: bold;
  color: hsl(48, 89%, 50%);

  @media (max-width: 680px) {
    font-size: 25px;
  }
}
.parrafo-datos p {
  margin-bottom: 20px;
}
.container-contact {
  background-color: hsl(48, 89%, 50%);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px;
  gap: 25px;
}
h3 {
  font-size: 37px;
  font-weight: bold;
}
footer {
  background-color: black;
}
.footer {
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid white;
  color: hsl(48, 89%, 50%);
  padding: 85px;
  gap: 125px;
}
.ul {
  display: flex;
  gap: 50px;
}
.ul .ul-2 ul,
li {
  list-style: none;
  bottom: 50px;
  font-size: 17px;
  font-weight: bold;
}
.final {
  display: flex;
  justify-content: space-between;
  padding: 85px;
  color: hsl(48, 89%, 50%);
}
.final p {
  color: hsl(48, 89%, 50%);
}
.social {
  background-color: hsl(48, 89%, 50%);
}
